body {
  overflow-x: hidden; }

.App-header {
  background-color: #222;
  height: 20px;
  width: 100%;
  padding: 20px;
  color: white; }

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 5px; }

.content {
  width: 50%;
  height: 100%; }

.preview-content {
  overflow-y: scroll; }

#editor {
  resize: none;
  display: block;
  width: 90%;
  min-height: 90%;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
